.cart{
    width: 90%;
    height: 400px;
   text-align: center;
   box-shadow: 10px 10px 10px gray;
   border-radius: 10px;
}
.btn-clear-cart {
    width: 70%;
    height: 30px;
    font-size: 15px;
    margin: 10px auto;
    background:goldenrod;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}